{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "no-console": "warn",
        "jsx-quotes": [
            "warn",
            "prefer-double"
        ],
        "prefer-const": "error",
        "max-len": [
            "warn",
            {
                "code": 150
            }
        ],
        "semi": [
            "warn",
            "never"
        ]
    }
}